
<html>
<head>
    <link rel="stylesheet" href="{{{getRelativeUrl '/css/idg.css' document.url}}}"/>
    <link rel="stylesheet" href="{{{getRelativeUrl '/css/idg-print.css' document.url}}}" media="print"/>
    <link rel="stylesheet" href="test.css"/>
</head>
<body>
    <div class="idg-print-banner">Banner 1</div>
    <div class="idg-print-banner">Banner 2</div>
    <div class="idg-print-banner">Banner 3</div>
    <div class="test-class">Test Class 1</div>
    <div class="test-class">Test Class 2</div>
    <div class="test-class">Test Class 3</div>
    <header class="test-class">Test Header 1</header>
    <header class="test-class">Test Header 2</header>
    <header class="test-class">Test Header 3</header>
</body>
</html>
